
 <link rel='stylesheet' href='/stylesheets/style-index.css' />

   <div class="banner-text">
        <div>
            <a href="/servicios" class="button1">EXPLORE</a>
            <a href="/contacto" class="button2">CONTACT</a>
        </div>
    </div>