<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Tilt+Warp&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
  <div class="nombre">
    <div class="titulo">
      <h1>{{title}}</h1>
    </div>
  </div>
  <header>
    <nav>
      <ul class="nav-menu">
        <li><a href="/" class="nav-enlace">Home</a></li>
        <li><a href="/genero" class="nav-enlace">Genero</a></li>
        <li><a href="/novedades" class="nav-enlace">Novedades</a></li>
        <li><a href="/contacto" class="nav-enlace">Contacto</a></li>
      </ul>
    </nav>
  </header>
  {{{body}}}
  <footer>

  </footer>
</body>

</html>